<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>baud</key>
		<integer>115200</integer>
		<key>unitCounts</key>
		<string>4</string>
		<key>SNUart</key>
		<string>uart://dev/cu.usbserial-EW-FIX-X</string>
		<key>humAndTempUart</key>
		<string>uart://dev/cu.usbserial-EW-HUMIT</string>
		<key>fixtureUart</key>
		<string>/dev/cu.usbserial-FIXMB</string>
		<key>pressUart</key>
		<string>/dev/cu.usbserial-FIXP</string>
		<key>ip</key>
		<string>169.254.1.32</string>
		<key>port</key>
		<string>7600</string>
		<key>unitID</key>
		<string>unit1</string>
		<key>debug</key>
		<string>NO</string>
		<key>DataPath</key>
		<string>/vault/Atlas/SABART</string>
		<key>PressValue</key>
		<string>50</string>
	</dict>
</array>
</plist>
